*.iml
.kotlin
.gradle
**/build/
!src/**/build/
local.properties
local.properties.*
!local.properties.example
.idea
.DS_Store
DerivedData/
xcuserdata
*.xcuserstate
*.xcscmblueprint
Pods/
**/.swiftpm/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
