*.iml
.kotlin
.gradle
.build/
**/build/
!src/**/build/
local.properties
local.properties.*
!local.properties.example
.idea
.DS_Store
DerivedData/
artifacts/mobile/ios-derivedData/
xcuserdata
*.xcuserstate
*.xcscmblueprint
iosApp/Config/LocalSecrets.xcconfig
Pods/
**/.swiftpm/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
